.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;
  }
.image-container2{
         background-image:url("https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=600");
        background-position: left;
        background-repeat: no-repeat;
        background-color: white;
        margin-left: 10rem;    
}
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }