
.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20rem;
  }
.image-container{
  background-image:url(https://images.pexels.com/photos/2403017/pexels-photo-2403017.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: left;
  background-repeat: no-repeat;
  background-color: white;
  margin-left: 10rem;
}
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }